<div style="display: flex; justify-content:center;align-items:center;" >
    {{#each carts}}
    <div style="width:max-content; margin-right:1rem; border: 1px solid black; padding:3px">
    <p>El ID del carrito es : {{this.idCarrito}}</p> <br>
    <p>La lista de productos es : {{this.products}}</p>
    </div>
    {{/each}}
   
</div>