<div style="display: flex; justify-content:center;align-items:center;">
    <div>
        <div>BIENVENIDO </div>
         
        <div style="width:max-content; margin-right:1rem; border: 1px solid black; padding:3px">
               <p>ID CARRITO: {{cart.idCarrito}}</p> 
            <p>PRODUCTOS: {{cart.products}}</p> 
            
            
             
        </div>
        
    </div>
</div>