<div>
    <h1>Tu perfil</h1>
    <p><strong>Nombre y Apellido:</strong>  {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Edad:</strong> {{user.age}}</p>
    <a href="/products"><button >Ir a productos</button></a>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>