<div style="display: flex; justify-content:center;align-items:center;">
    <div>
        <div>BIENVENIDO </div>
         
        <div style="width:max-content; margin-right:1rem; border: 1px solid black; padding:3px">
            <p>Titulo: {{producto.title}}</p> 
            <p>Code: {{producto.code}}</p> 
            <p>Price: ${{producto.price}}</p> 
            <p>Stock: {{producto.stock}} unidades</p> 
        </div>
        
    </div>
</div>